//helper class

.flex-text-center {
  display: flex;
  justify-content: center;
}

.product-info {
   display: flex;
   justify-content: center;
   margin: 0 auto;
   margin-top: 3rem;
   max-width: none;
   width: 74rem;
}

.product-flex {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.product-container {
  flex: 0 1 22%;
}

.category-text {
  text-align: center;
  @include all-caps-text;
}

// HERO SECTION
.hero-banner {
  background: url('../../images/hero-bread.jpg') top center no-repeat #400c0d;
  background-size: cover;
  margin-top: 2.8rem;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  font-family: 'Overlock';
  font-weight: bold;
  font-style: normal;
  color: white;
  font-size: 6rem;
  text-transform: uppercase;
}

// product bar

.products-flex {
  display: flex;
  justify-content: center;
}

.products-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px lightgrey solid;
  background-color: #FAFAFA;
  height: 5em;
  width: 75%;
  margin: 4rem 0rem;
}

.products-button {
 background-color: #400c0d;
 height: 3rem;
 width: 11.2rem;
 border-radius: 0.2rem;
 box-shadow: none;
 color: white;
 font-size: 1rem;
 margin-left:  3rem;
    a {
      color: white;
      text-decoration: none;
    }
}


// our latest news section

//sets the background color for the post section
.latest-blogs {
  background-color: #fafafa;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  padding: 3rem 0;

  h2 {
    @include all-caps-text;
  }
}

// line decoration
.hr-symbol {
  width: 20%;
}

.grey-dot {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.4rem;
  background-color: #E1E1E1;
  margin: 0 auto;
  position: relative;
  top: -1.9rem;
}

// post section

//controls the picture grid
.post-grid {
width: 100%;
display: flex;
flex-wrap: wrap;
margin: 0 auto;
}

//controls each block of category
.blogpost-block {
flex: 0 1 25%;
    ul {
      padding: 0rem;
      margin: 0rem;
    }
}

.thumbnail-container {
height: 200px;
overflow: hidden;
position: relative;

    img {
      height: 250px;
    }
}


// =============== Testimonial Section ====================

.testimonial-section {

  li:first-child {
     border-right: 1px dashed #d2d2d2;
     border-bottom: 1px dashed #d2d2d2;
   }

  li:nth-child(2) {
    border-bottom: 1px dashed #d2d2d2;
  }

  li:nth-child(3) {
    border-right: 1px dashed #d2d2d2;
  }

   h2 {
     @include all-caps-text;
   }
}

.testimonial-pictures {
  height: 100px;
  width: 100px;
  margin-right: 2rem;
}

.testimonial-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;

  li {

    flex: 1 0 50%;
    display: flex;
    padding: 1.5rem;
    max-width: 50%;
  }
}

.review-block {
  max-width: 320px;
  p:nth-child(2)  {
    @include bolden-text;
  }
}
